@mixin flexContent($justifyContent, $alignItem) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItem;
}
@mixin boxSize($width, $height) {
  width: $width;
  height: $height;
}
@mixin verticalFlex {
  display: flex;
  flex-direction: column;
}

@mixin button($width, $height, $backgroundColor, $border) {
  width: $width;
  height: $height;
  background-color: $backgroundColor;
  border: $border;
}
@mixin fonts($fontWeight, $fontSize) {
  font-weight: $fontWeight;
  font-size: $fontSize;
}
