@import "./mixins";
@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bgColor;
  // background-color: rgba(94, 211, 47, 0.61);
}
#header {
  @include boxSize(100%, 40vh);
  text-align: center;
  > .header-container {
    @include flexContent(space-evenly, center);
    padding: 1.25rem;
    > .restart-btn {
      @include button(4.5rem, 2.1875rem, $bgColor, 0.125rem solid $borderColor);
      @include fonts(600, 1rem);
      border-radius: 0.3125rem;
      color: $textColor;
      transition: 0.5s;
      opacity: 0.9;
    }
    & .restart-btn:hover {
      font-size: 0.8rem;
      transition-delay: 0.3s;
      opacity: 0.8;
      cursor: pointer;
    }
    > span {
      @include fonts(600, 1.5rem);
      color: $textColor;
    }
  }
  & h1 {
    padding-top: 3.125rem;
    color: $textColor;
  }
}

#main {
  border-top: 0.25rem solid $borderColor;
  height: 60vh;
  > .secret-num {
    @include boxSize(4.375rem, 4.375rem);
    @include fonts(900, 3.125rem);
    @include flexContent(center, center);
    background-color: $borderColor;
    color: $textColor;
    margin: -35px auto 0 auto;
    border-radius: 0.3125rem;
  }
  .main-card-container {
    @include flexContent(space-evenly, center);
    padding-top: 9.375rem;
    > .check-number {
      @include verticalFlex;
      @include flexContent(center, center);
      gap: 0.625rem;
      > input[type="number"] {
        @include boxSize(6.25rem, 3.125rem);
        @include fonts(900, 1.875rem);
        border: 2px solid $borderColor;
        background-color: $bgColor;
        color: $textColor;
        text-align: center;
        outline: none;
        border-radius: 0.3125rem;
      }
      > .check-btn {
        @include button(
          4.5rem,
          2.1875rem,
          $bgColor,
          0.125rem solid $borderColor
        );
        @include fonts(600, 1rem);
        border-radius: 0.3125rem;
        color: $textColor;
        // cursor: pointer;
      }
      & .check-btn:hover {
        font-size: 0.8rem;
        transition-delay: 0.3s;
        opacity: 0.8;
        cursor: pointer;
      }
    }
    > .scores {
      @include fonts(600, 1.5rem);
      p {
        padding: 0.3125rem;
        color: $textColor;
      }
      p:first-child {
        padding: 1rem 0;
      }
    }
  }
}
